@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-in {
  animation: animate-in 1s ease-in-out;
}

.styled-scroll::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
  background-color: #fff4;
}
.styled-scroll::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #fff5;
}

.scroll-zero::-webkit-scrollbar {
  height: 0;
  width: 0;
}

@keyframes line-animate {
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes pop-in {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes animate-in {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}